<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block title %}
	{{ recipe_object.title }} - Scrumptious Recipe
{% endblock title %}

{% block create_recipe %}
<a href={% url 'create_recipe' %}>Create Recipe</a>
{% endblock create_recipe %}

{% block content %}
<main>
	<div class="recipe-grid">
		{% for recipe in recipe_list %}
		<div>
			<h3>
				<a href={% url 'show_recipe' recipe.id %}>{{ recipe.title }}</a>
			</h3>
			<p>Created on: {{ recipe.created_on | date:'j F Y'}}</p>
			<img src="{{ recipe.picture | default:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu2prUKkyIK7VKDANwZK0Lf2FhsRK1d6wjN-sxqqqqDXIYxu8-v_8rNYjXMrZj-XGtBGQ&usqp=CAU'}}" />
			<div>4.3 star</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock content %}